@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome To RR</h1>
    <h2>This is heading 2</h2>
    <h6>This is the smallest heading you can have</h6>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
