@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <h2>This is Heading 2</h2>
    <h6>This is the smallest heading you can have</h6>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-controller="Restaurant" asp-action="Index">Click here to go to Restaurant View</a>
</div>
